<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">

    <form action="/" method="GET">
        <select class="form-control" name="category" id="">
            <option value="all">All</option>
            <option value="clothes">Clothes</option>
            <option value="phones">Phones</option>
            <option value="laptops">Laptops</option>
        </select>
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
<br>
    <% if(validationError) {%>
      <p class="alert alert-danger">
        <%= validationError.msg%>
      </p>
      <%}%>
      

    <% if(products.length ===0 ) {%>
      <div class="alert alert-danger">
        there is no product selected
      </div>
      <%} else {%>
        <div class="row">
          <% for(let product of products) { %>
              <!-- col-12 == in small screen to take all 12 col  -->
          <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card" style="width: 18rem;">
                  <img src="<%= product.image%>" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/product/<%= product._id%>">
                          <%= product.name%>
                      </a>
                      <p>Price : <%= product.price%> $</p>
                    </h5>
                    <form action="/cart" method="post" class="form-control">
                      <input type="number" name="amount" >
                      <input type="hidden" name="name"  value="<%= product.name%>">
                      <input type="hidden" name="image"  value="<%= product.image%>">
                      <input type="hidden" name="price"  value="<%= product.price%>">
                      <input type="hidden" name="productId"  value="<%= product._id%>">
                      <input type="hidden" name="redirectTo" value="/">
                      <input type="submit" name="addToCart" class="btn btn-primary">
                    </form>
                  </div>
                </div>
          </div>
          <%}%>
      </div>
        <%}%>
</div>
<%- include('parts/footer')%>